In [2]:
import pandas as pd
import numpy as np 
import os

In [3]:
os.chdir(r"C:\Users\NooR\Downloads\machine learning\Normal equation")

In [4]:
dataset=pd.read_csv("market_data (1).csv")
dataset

     youtube  facebook  newspaper  sales
0      84.72     19.20      48.96  12.60
1     351.48     33.96      51.84  25.68
2     135.48     20.88      46.32  14.28
3     116.64      1.80      36.00  11.52
4     318.72     24.00       0.36  20.88
..       ...       ...        ...    ...
166    45.84      4.44      16.56   9.12
167   113.04      5.88       9.72  11.64
168   212.40     11.16       7.68  15.36
169   340.32     50.40      79.44  30.60
170   278.52     10.32      10.44  16.08

[171 rows x 4 columns]

In [5]:
after_drop=dataset.drop("sales",axis=1)
y=dataset['sales']
dataset.shape

(171, 4)

In [6]:
np_array=after_drop.to_numpy()

In [7]:
x1=dataset['youtube']
x2=dataset['facebook']
x3=dataset['newspaper']

In [8]:
n=len(x1)

In [10]:
x_bais=np.ones((n,1))
x_new=np.append(x_bais,np_array, axis=1)  # X

In [13]:
x_new_transpose=np.transpose(x_new)   #x^T

In [14]:
x_new_transpose_dot_x_new=x_new_transpose.dot(x_new) ##(x^T).x

In [15]:
temp_1=np.linalg.inv(x_new_transpose_dot_x_new)#(x x^T)invers
temp_2=x_new_transpose.dot(y) #x^T *Y

In [16]:
theta=temp_1.dot(temp_2)  ##(x x^T) invers *x^T *Y

In [17]:
theta_0 = theta[0]
theta_1 = theta[1]
theta_2 = theta[2]
theta_3 = theta[3]
print(theta_0)
print(theta_1)
print(theta_2)
print(theta_3)

3.505870994465056
0.04523544441261523
0.18839782541150862
0.004279491858703022

In [19]:
def pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper):
    predicted_value=youtube*theta_1+facebook*theta_2+newspaper*theta_3+theta_0
    return predicted_value

In [21]:
youtube = 84.72
facebook = 19.20
newspaper = 48.96

print(pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper))

11.164980014404884

In [22]:
youtube = 29
facebook = 93
newspaper = 96
print(pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper))

22.749527864136688